/* Pritaikyk CSS stiliu siems HTML elementams. 
KEISTI HTML NEGALIMA. RASOME TIK CSS! 



/* Pakeisti <body> elemento fonine spalva i #bdc3c7*/
body{
    background-color:#bdc3c7 ;
}

/* Pakeisti <h1> elemento spalva i #9b59b6*/
h1{
    color:#9b59b6 ;
}

/* Pakeisti visu <h2> elementu spalva i orange */
h2{
    color: orange;
}

/* Pakeisti visu <li> elementu spalva i melyna, HEX koda pasirinkite savo (Google colorpicker)*/ 
ul{
    color: darkslateblue;
    
}


/* Pakeisti kiekvieno paragrafo fona i geltona*/
p{
    background-color: yellow;
}

/*Visi input turi buti su remeliu (border: 3px solid red;)*/
input{
    border-style: solid;
    border-width: 3px;
    border-color: #ff0000;
    
}

/* Visi elementai su klase 'hello', turi balta fona*/
.hello{
    background-color: white;
    
}

/* Elementas su klase 'special' yra su 2px melynu remeliu, spalvos koda pasirinkite savo (border: 3px solid #XXXXXX;)*/
.special{
    border-width:2px ;
    border-style: solid;
    border-color: blue;
}


/*Visu <p> kurie yra <div> viduje, srifto dydis yra 25px (font-size: 25px)*/
div > p{
    font-size: 25px;
}


/*BONUS UZDUOTYS*/
/* gali reiketi google pagalbos*/


/*<input> elementai su type="text" atributu turi pilka fona*/
input[type=text]{
    background-color: grey;
}

/* Abu <p> kurie yra trecio <div> viduje, turi ruzava fona*/
div:nth-of-type(3){
    color: pink;
}


/* Label elementu tekstas yra rasomas didziosiomis raidemis*/
label{
    text-transform: uppercase;
}


/* Pirmoji raide elementuose su klase "special" yra zalios spalvos ir 100px dydzio*/
.special{
    text-transform: capitalize;
}


/* h1 elementu spalva pasikecia i melyna, kai ant ju uzvedama pele */
h1:hover{
    background-color: blue;
}


/* Aplankytos nuorodos <a> yra pilkos spalvos */

a:visited{
    color: gray;
}
